Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
  RewriteEngine On

	ErrorDocument 503 /system/maintenance.html
	
	RewriteCond %{REQUEST_URI} !.(css|gif|jpg|png)$
	RewriteCond %{DOCUMENT_ROOT}/system/maintenance.html -f
	RewriteCond %{SCRIPT_FILENAME} !maintenance.html
	RewriteRule ^.*$  -  [redirect=503,last]

</IfModule>