<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to (t '.delete_2'), user, method: :delete, confirm: "You sure?" %>
  <% end %>
</li>