<li>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    <%= t '.posted_ago', :time_ago_in => (time_ago_in_words(micropost.created_at)) %>
  </span>
	<% if current_user?(micropost.user) %>
    <%= link_to (t '.delete'), micropost, method:  :delete,
                                     confirm: "You sure?",
                                     title:   micropost.content %>
  <% end %>
</li>