<footer class="footer">
  <small>
    All rights reserved.  UN.com since 2012.
  </small>
  <nav>
    <ul>
    	<li><%= link_to "Sign in with Twitter", "/auth/twitter"%></li>
    	<li><%= link_to "Sign in with Facebook", "/auth/facebook"%></li>
      <li><%= link_to (t '.about'),   about_path %></li>
      <li><%= link_to (t '.contact'), contact_path %></li>
    </ul>
  </nav>
</footer>