<footer class="footer">
  <small>
    <%= t '.rails_tutorial' %>
  </small>
  <nav>
    <ul>
      <li><%= link_to (t '.about'),   about_path %></li>
      <li><%= link_to (t '.contact'), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t '.news' %></a></li> TEST 
    </ul>
  </nav>
</footer>